html {
	background-image: url("../images/article-background.jpg");
	background-attachment:fixed;
}

body {
	border-radius: 10px;
	background-color:lightgray;
}

main {
	width:800px;
	color:black;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: normal;
}

a{
	font-weight: bold;
	font-size:larger;
}

a:link {color: red} /**表示链接暂未点击**/
a:visited {color: green}/**表示链接已经被点击过**/
a:hover {color: black}/**表示当鼠标在链接上面划过时**/
a:active {color: yellow}/**表示当链接被点击时**/

aside {
	float: right;
}

img {
	border: 3px dashed red;
}
